# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
logs
.idea
AGENTS.md

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

#cache
src/generated/resources/.cache